[all]
node1 ansible_host={{ master_ip }} ansible_user=root
node2 ansible_host={{ worker_ip }} ansible_user=root

[all:vars]
## Kubernetes settings
# Enable Helm
helm_enable=True

# Enable Ingress controller
ingress_nginx_enabled=True
ingress_nginx_host_network=True

# Match flexvolume dir with Rook default
kubelet_flexvolumes_plugins_dir=/usr/libexec/kubernetes/kubelet-plugins/volume/exec

## Other settings
# Disable StrictHostKeyChecking for all hosts
ansible_ssh_extra_args='-o StrictHostKeyChecking=no'

[kube-master]
node1

[etcd]
node1

[kube-node]
node1
# node2

[k8s-cluster:children]
kube-master
kube-node
