[labs:vars]
# Set defaults for all labs
terraform_state=present
packet_facility=ewr1

# Parent group
[labs]
#lab0 packet_facility=ams1
#lab1
#lab2
#lab3
#
# Facility groups

[labs-ams1]
#lab100
#lab101

[labs-ewr1]
lab200
#lab201

[labs-sjc1]
#lab300
#lab301

[labs-nrt1]
#lab400
#lab401

# Group configs
[labs-ewr1:vars]
packet_facility=ewr1

[labs-ams1:vars]
packet_facility=ams1

[labs-sjc1:vars]
packet_facility=sjc1

[labs-nrt1:vars]
packet_facility=nrt1

[labs:children]
labs-ams1
labs-ewr1
labs-sjc1
labs-nrt1
